{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/1.jfif" class="d-block w-100" alt="Chocolate Cone" width="1500" height="400">
            <div class="carousel-caption d-none d-md-block">
              <h5>Cones</h5>
              <p> We have the World's Best Icecream Cone.If you Eat one time then you will not forget
                the taste of our IceCream Cone forever. </p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="/static/2.jfif" class="d-block w-100" alt="..." width="1500" height="400">
            <div class="carousel-caption d-none d-md-block">
              <h5>Cups</h5>
              <p> We have the World's Best Icecream Cups.If you Eat one time then you will not forget
                the taste of our IceCream Cups forever. </p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="/static/3.jfif" class="d-block w-100" alt="..." width="1500" height="400">
            <div class="carousel-caption d-none d-md-block">
              <h5>Variety Of IceCreams</h5>
              <p> We have the World's Best Variety Of IceCreams.If you Eat one time then you will not forget
                the taste of our Variety Of IceCreams forever. </p>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>


<div class="album py-2 bg-light">
  <h1 class="text-center">Select from our range of IceCreams</h1>
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/3.jfif" class="d-block w-100" alt="Chocolate Cone" width="900" height="200">
          <div class="card-body">
            <p class="card-text">It contains milk products, sweetening materials, stabilizers, colors, flavors, and egg products. Ice cream had its origins in Europe.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/2.jfif" class="d-block w-100" alt="Chocolate Cone" width="900" height="200">

          <div class="card-body">
            <p class="card-text">Vanilla, chocolate, and strawberry are three of the most popular ice cream flavors so it only makes sense to combine them in this creamy mash-up.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/1.jfif" class="d-block w-100" alt="Chocolate Cone" width="900" height="200">

          <div class="card-body">
            <p class="card-text">An ice cream cone, poke (Ireland/Scotland) or cornet (England) is a brittle, cone-shaped pastry, usually made of a wafer similar in texture to a waffle.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/2.jfif" class="d-block w-100" alt="Chocolate Cone" width="900" height="200">
          <div class="card-body">
            <p class="card-text">Vanilla, chocolate, and strawberry are three of the most popular ice cream flavors so it only makes sense to combine them in this creamy mash-up.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/3.jfif" class="d-block w-100" alt="Chocolate Cone" width="900" height="200">
          <div class="card-body">
            <p class="card-text">It contains milk products, sweetening materials, stabilizers, colors, flavors, and egg products. Ice cream had its origins in Europe.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/1.jfif" class="d-block w-100" alt="Chocolate Cone" width="900" height="200">
          <div class="card-body">
            <p class="card-text">An ice cream cone, poke (Ireland/Scotland) or cornet (England) is a brittle, cone-shaped pastry, usually made of a wafer similar in texture to a waffle.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/1.jfif" class="d-block w-100" alt="Chocolate Cone" width="900" height="200">
          <div class="card-body">
            <p class="card-text">An ice cream cone, poke (Ireland/Scotland) or cornet (England) is a brittle, cone-shaped pastry, usually made of a wafer similar in texture to a waffle.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/2.jfif" class="d-block w-100" alt="Chocolate Cone" width="900" height="200">
          <div class="card-body">
            <p class="card-text">Vanilla, chocolate, and strawberry are three of the most popular ice cream flavors so it only makes sense to combine them in this creamy mash-up.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/3.jfif" class="d-block w-100" alt="Chocolate Cone" width="900" height="200">
          <div class="card-body">
            <p class="card-text">It contains milk products, sweetening materials, stabilizers, colors, flavors, and egg products. Ice cream had its origins in Europe.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}